<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Upload file</title>
</head>

<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="foto">Foto:</label>
        <input type="file" id="foto" name="foto" />
        <input type="submit" value="Enviar" />
    </form>

        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody >
                <% archives.map(archive => { %>
                    <tr>
                        <td><%= archive.name %></td>
                        <td><%= archive.url %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
</body>

</html>